.root {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	background-color: var(--black);

	h2 {
		color: var(--light);
	}
}
